@model TraversalCoreProject.EntityLayer.Concrete.ContactUs
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TraversalUiLayout.cshtml";
}

<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Bize Ulaşın</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> İletişim </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- contact-form -->
<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <div class="contact-grids row">
               

                @await Component.InvokeAsync("_ContactInfoComponentPartial")
               
                <div class="col-lg-6 mt-lg-0 mt-5 contact-right">
                    <form method="post" class="signin-form">
                        <div class="input-grids">
                            <div class="form-group">
                                <input type="text" placeholder="Adınız*" asp-for="Name" class="contact-input" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Mail Adresiniz*" asp-for="Mail" class="contact-input" required="" />
                                <span asp-validation-for="Mail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Konu*" asp-for="Subject" class="contact-input" />
                                <span asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Mesajınızı Buraya Yazınız*" asp-for="MessageBody" required=""></textarea>
                            <span asp-validation-for="MessageBody" class="text-danger"></span>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-style btn-primary">Mesaj Gönder</button>
                        </div>
                    </form>                   
                </div>
               

            </div>
            <div class="map mt-5 pt-md-5">
                <h5>Harita</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60190.497034134!2d29.08971007932104!3d40.98592500754879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac8c3f7f0f3e5%3A0xa04595f6781c6dc1!2sBarbaros%20Mahallesi%2C%20Halk%20Cd.%2C%20Ata%C5%9Fehir%2C%20%C4%B0stanbul%2C%20T%C3%BCrkiye!5e0!3m2!1str!2str!4v1699267362478"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
    </div>

</section>
